@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
$col_ash-gray: #a3c7bdff;
$col_azure-web: #d4e4e1ff;
$col_misty-rose: #feeae3ff;
$col_snow: #f7f3f2ff;
$col_eerie-black: #232323ff;
$col_silver: #b8b8b9ff;
$col_white: #fdfdfdff;

$font_big: "spinnaker", sans-serif ;
$font_main: Arial,Helvetica,sans-serif ;